<main class="hand">
    <h1 class="hand-2">My blogs</h1>
    
    <div class="loading" *ngIf="!blogs">
        <loading></loading>
    </div>

    <div *ngIf="blogs">
        <section *ngFor="let blog of blogs" (click) = "visitBlog(blog.name)">
            <h2>{{ blog.title }}</h2>
            <p class="description">{{ blog.description }}</p>
            <p class="date">{{ blog.date.seconds * 1000 | date:'MM-dd-yyyy' }}</p>
            <hr color="#FF1D53" style="border-bottom: 1px;">
        </section>
    </div>
</main>