/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bangers|Bree+Serif|Josefin+Sans|Righteous|DM+Serif+Display|Galada|Grenze|Abril+Fatface|Kumar+One|Saira+Stencil+One&display=swap')
@import url('./font.css')
html
  padding: 0
  margin: 0
  background-color: #181a1b !important
  color: #e8e6e3


body
  padding: 0
  margin: 0

a
  cursor: pointer
.head-1
  font-family: 'Saira Stencil One'
.head-2
  font-family: 'Bangers'
.text-1
  font-family: 'Josefin Sans', sans-serif
.hand
  font-family: 'Josefin Sans', sans-serif
.hand-2
  font-family: 'Righteous'  
.text-2
  font-family: 'DM Serif Display' !important
.link
  color: #ff3364
  font-family: 'Grenze'
  text-decoration: underline
.handwriting
  font-family: 'Abril Fatface', sans-serif