main
  height: 100vh
  width: 100%
  text-align: center
  div
    position: relative
    top: 35%
    transform: translateY(-35%)
    h1
      font-size: 7em
      span
        color: #FF1D53
.just
  width: 88%
  padding-right: 6% W
  padding-left: 6%
  text-align: justify
  text-justify: inter-word
  
.avatar
  border-radius: 100%
  height: 30em
  width: 30em
section
  text-align: center
  padding: 3%
  h1
    font-size: 4em
  h2
    font-size: 3em  
  p
    font-size: 2em
  a
    font-size: 2em
.thebr1
  display: none

.techstack
  .techlogo
    height: 190px
    width: 190px
    padding: 5px

@media all and (max-width: 650px)
  .thebr
    display: none
  .thebr1
    display: block
  .avatar
    width: 20em
    height: 20em
  main
    div
      top: 38%
      transform: translateY(-38%)
      h1
        font-size: 5em
  .quote
    padding: 4%
  section
    padding: 3%
    h1
      font-size: 2.5em
    p
      font-size: 1.2em
    a
      font-size: 1.5em
  .techstack
    .techlogo
      height: 100px
      width: 100px
@media all and (max-width: 500px)
   .avatar
    width: 18em
    height: 18em
