<main>
  <div>
      <h1 class="head-1">Hi, I am <br><span>Ujjwal</span></h1>
  </div>
</main>
  <section class="avatar-description">
    <img src="../../assets/me.jpeg" class="avatar">
    <p class="text-2 quote">{{tweakData.smBio}}</p>
  </section>
  <hr color="#FF1D53" style="border-bottom: 1px; width: 80%;">
  <section class="description" *ngIf = "tweakData">
    <h1 class="head-2">{{tweakData.hWhatIDo}}</h1>
    <p class="text-1 just">
      {{tweakData.cWhatIDo}} <br><br>
    I will be sharing all kinds of logic, reasoning, and problems encountered during the process of engineering apps, services and other systems, with a combination of innovation and storytelling.
    </p>
    <!-- <a (click)="description()" class="link">Read More</a> -->
  </section><p></p>

  <section class = "techstack" *ngIf = "tweakData">
    <h1 class="stiff" style="color: #ff3364">{{tweakData.hTech}}</h1>
    <p class="text-1">
      {{tweakData.cTech}}
      <br> Just to name a few :
    </p>
    <img src="../../assets/iconfinder_187_Js_logo_logos_4373213.png" class="techlogo">
    <img src="../../assets/angular@2x.png" class="techlogo">
    <img src="../../assets/1_mn6bOs7s6Qbao15PMNRyOA@2x.png" class="techlogo">
    <br class="thebr1">
    <img src="../../assets/iconfinder_22_940979 (1)@2x.png" class="techlogo">
    <img src="../../assets/iconfinder_badge-css-3_317756@2x.png" class="techlogo">
    <img src="../../assets/Group 2@2x.png" class="techlogo">
  </section>
  <p></p>

  <section class="stuff">
    <h1 class="stiff" style="color: #00d6c4;">What I Created</h1>
    <p class="text-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia deserunt, harum, ipsum veniam libero eos eaque quisquam earum expedita similique quas. Repellendus tenetur suscipit dolorem! Iure molestiae omnis velit veritatis?</p>
    <div id="projects" class="text-1">
      <li class="link" (click) = "visitProject('https://marvel-init.web.app')">Marvel Blog</li>
      <li class="link" (click) = "visitProject('https://ujjwal-kr.github.io/thinkit')">Thinkit Game</li>
      <li class="link" (click) = "visitProject('https://github.com/pixel-builds/epicTweak')">EpicTweak Live Tewak System</li>
      <li class="link" (click) = "visitProject('https://github.com/ujjwal-kr')">For More Updated Stuff</li>
      <li class="link" (click) = "visitProject('/')">This Website Itself !</li>
    </div>
  </section>

  <section class="stuff">
    <h1 class="stiff" style="color: #4300e0;">Future Ventures</h1>
    <p class="text-1">I have a basic idea about what stuff I know but still following the popular belief, I also sometimes want to expand my area of knowledge and set of skills. Here's what I have planned to learn in future:</p>
    <div id="lists" class="text-1">
      <li>Scalable distributed systems</li>
      <li>Server analysis automation</li>
      <li>Machine Learning</li>
      <li>Cryptography</li>
      <li>Electrical engineering</li>
      <li>Toasting bread instantly</li>
    </div>
  </section>
  <p></p>

<!-- 
  <section class="projects">
    <h1 class="stiff" style="color: #ff3364">My Projects</h1>
  </section> -->
