<main>
  <div>
      <h1 class="head-1">Hi, I am <br><span>Ujjwal</span></h1>
  </div>
</main>
  <section class="avatar-description">
    <img src="../../assets/me.jpeg" class="avatar">
    <p class="text-2 quote">I am a Full-Stack ninja, designer and security researcher</p>
  </section>
  <hr color="#FF1D53" style="border-bottom: 1px; width: 80%;">
  <section class="description">
    <h1 class="head-2">But Basically what i do</h1>
    <p class="text-1 just"> 
      I, am just a super curious guy. I am a student, so the maximum part of my day drains in studies and in the part left I try to enjoy or make cool stuff. I build custom software and services, and I like to use technology to solve problems and do things you wouldn't be normally able to do.
       <br><br>
    I will be sharing all kinds of logic, reasoning, and problems encountered during the process of engineering apps, services and other systems, with a combination of innovation and storytelling.
    </p>
  </section><p></p>

  <section class = "techstack">
    <h1 class="stiff" style="color: #ff3364">Tech Stack</h1>
    <p class="text-1">
      I tend to learn all the awesome things which inspire me in the dev-market and try to create almost everything which strikes my mind. <br><br>
      And recently I've worked in field of cryptography. Also called a valuable tool in war, So my knowledge of cryptography classifies me as a weapon, so I am a walking MISSILE ;) 
    </p>
    <img src="../../assets/iconfinder_187_Js_logo_logos_4373213.png" class="techlogo">
    <img src="../../assets/angular@2x.png" class="techlogo">
    <img src="../../assets/1_mn6bOs7s6Qbao15PMNRyOA@2x.png" class="techlogo">
    <br class="thebr1">
    <img src="../../assets/iconfinder_22_940979 (1)@2x.png" class="techlogo">
    <img src="../../assets/iconfinder_badge-css-3_317756@2x.png" class="techlogo">
    <img src="../../assets/Group 2@2x.png" class="techlogo">
  </section>
  <p></p>

  <section class="stuff">
    <h1 class="stiff" style="color: #00ceb6;">What I Created</h1>
    <p class="text-1">
      As said, I'm curious about cool stuff, so I try to shape my ideas all the time by creating small projects, here are few and more are about to come
    </p>
    <div id="projects" class="text-1">
      <li class="link" (click) = "visitProject('https://xenon.now.sh')">Xenon News App</li>
      <li class="link" (click) = "visitProject('https://marvel-init.web.app')">Marvel Blog</li>
      <li class="link" (click) = "visitProject('https://ujjwal-kr.github.io/thinkit')">Thinkit Game</li>
      <li class="link" (click) = "visitProject('https://github.com/pixel-builds/epicTweak')">EpicTweak Live Tewak System</li>
      <li class="link" (click) = "visitProject('https://github.com/ujjwal-kr')">For More Updated Stuff</li>
      <li class="link" (click) = "visitProject('/')">This Website Itself !</li>
    </div>
  </section>

  <section class="stuff">
    <h1 class="stiff" style="color: #4300e0;">Future Ventures</h1>
    <p class="text-1">I have a basic idea about what stuff I know but still following the popular belief, I also sometimes want to expand my area of knowledge and set of skills. Here's what I have planned to learn in future:</p>
    <div id="lists" class="text-1">
      <li>Scalable distributed systems</li>
      <li>Automating Stuff</li> 
      <li>Machine Learning</li>
      <li>Cryptography</li>
      <li>Electrical engineering</li>
      <li>Toasting bread instantly</li>
    </div>
  </section>
  <p></p>